// Replace your color Hex code for change color. However you will find all main color with their density in "variables/color-library.scss" file.
// You can use any main color and to use variant of that color include integer from 1 to 9 in mutiple of 100 (i.e., red-100, pink-400 etc).
@import 'variables/color-library';

// Primary Colors (Used in general components)
$black: #000000;
$white: #FFFFFF;
$red: $red-500;
$blue: $blue-500;
$grey: $grey-500;
$orange: $orange-500;
$green: $green-500;
$teal: $teal-500;


// Secondary Colors (For inndividual use)
$pink: $pink-500;
$purple: $purple-500;
$deep-purple: $deep-purple-500;
$indigo: $indigo-500;
$light-blue: $light-blue-500;
$cyan: $cyan-500;
$light-green: $light-green-500;
$lime: $lime-500;
$yellow: $yellow-500;
$amber: $amber-500;
$deep-orange: $deep-orange-500;
$brown: $brown-500;
$blue-grey: $blue-grey-500;


$colors: (
	red: $red,
	blue: $blue,
	grey: $grey,
	orange: $orange,
	green: $green,
	teal: $teal,
	pink: $pink,
	purple: $purple,
	deep-purple: $deep-purple,
	indigo: $indigo,
	light-blue: $light-blue,
	cyan: $cyan,
	light-green: $light-green,
	lime: $lime,
	yellow: $yellow,
	amber: $amber,
	deep-orange: $deep-orange,
	brown: $brown,
	blue-grey: $blue-grey,
	white: $white,
	black: $black
) !default;